{% extends 'home.html' %}

{% block content %}
  <h2>Detalhes do Macros Sheet</h2>
  <p>Macros Planner: {{ macros_sheet.macros_planner }}</p>
  <table>
    <tr>
      <th>Macros</th>
      <th>Gramas</th>
      <th>Proportion</th>
      <th>Level</th>
    </tr>
    <tr>
      <td>CHO</td>
      <td>{{ macros_sheet.cho }}</td>
      <td>{{ macros_sheet.cho_proportion }}</td>
      <td>{{ macros_sheet.cho_level }}</td>
    </tr>
    <tr>
      <td>PTN</td>
      <td>{{ macros_sheet.ptn }}</td>
      <td>{{ macros_sheet.ptn_proportion }}</td>
      <td>{{ macros_sheet.ptn_level }}</td>
    </tr>
    <tr>
      <td>FAT</td>
      <td>{{ macros_sheet.fat }}</td>
      <td>{{ macros_sheet.fat_proportion }}</td>
      <td>{{ macros_sheet.fat_level }}</td>
    </tr>
    <tr>
      <td>KCAL</td>
      <td colspan="3">{{ macros_sheet.kcal }}</td>
    </tr>
    <tr>
      <td>KCAL Level</td>
      <td colspan="3">{{ macros_sheet.kcal_level }}</td>
    </tr>
  </table>

<td>
  <a href="{% url 'macros_sheet:macros_sheet_update' macros_sheet.pk %}">Edit</a>
  <a href="{% url 'macros_sheet:macros_sheet_delete' macros_sheet.pk %}">Delete</a>
</td>
  <td>
    <a href="{% url 'macros_planner:macros_planner_details' macros_sheet.macros_planner.pk %}">View Macros Planner Details</a>
    </td>
{% endblock %}
