<!DOCTYPE html>
<html>
    <head>
      
      <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

        <style>
        h3 {text-align: center;}
        p {text-align: center;}
        </style>
   

  </head>
  <body>
  <header>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

    
    <!-- Seu cabeçalho -->
  </header>



    <body>        
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <nav>
            <div class="nav-wrapper"style="background-color: black">
              <a href="#" class="brand-logo">Arnold Plan</a>
            </div>
          </nav>
      
          <div class="container text-dark mt-5">
            <div class="row justify-content-md-center">
              <div class="col md-5 p-3">
                {% if user.is_authenticated%}
                <p>Welcome, {{user.username}}</p>
                
                <button onclick="window.location.href='{% url 'dashboard' %}'" class="button" style="padding: 10px 20px; font-size: 16px; background-color: black; color: white; border: none; border-radius: 4px; cursor: pointer;">Home</button>

                <button onclick="window.location.href='{% url 'account_logout' %}'" class="button" style="padding: 10px 20px; font-size: 16px; background-color: black; color: white; border: none; border-radius: 4px; cursor: pointer; margin-left: 10px;">Logout</button>

               


                {%else%}
                <button class="button"><a href="http://127.0.0.1:8000/accounts/login/">Login</a></button>
                <button class="button"><a href="http://127.0.0.1:8000/accounts/signup/">Sign Up</a></button>
                {%endif%}
              </div>
            </div>
          </div>

          <main>
            
            {% block content %}<!--o conteúdo de cada página extendida...-->
            {% endblock %}<!--...aparecerá entre essa tag-->
        </main>

          
    </body>
</html>