{% extends 'home.html' %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'profile_/css/style.css' %}">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>   

{% block content %}
<!--
    <a href="{% url 'profile_:profile_details' pk=profile.pk %}">Profile Details</a>
-->
<button onclick="window.location.href='{% url 'macros_planner:macros_planner_list' %}'" >Macros Planner List</button>
<div>
     
    <h2>Detail of Profile</h2>
    <h3>{{ profile.name }}</h3>
    <p>Birth Date: {{ profile.birth_date }}</p>
    <p>Weight: {{ profile.weight }}</p>
    <p>Height: {{ profile.height }}</p>
    <p>Gender: {{ profile.gender }}</p>


    <td>
        <button onclick="window.location.href='{% url 'profile_:profile_update' profile.pk %}'" >Edit</button>
        <button onclick="window.location.href='{% url 'profile_:profile_delete' profile.pk %}'"  >Delete</button>
    </td>


</div> 
{% endblock %}