{% extends 'home.html' %}

{% block content %}
    <style>
        /* Estilo para a divisão principal */
        #statistics-container {
            display: inline-block; /* Garante que a div se ajuste ao conteúdo */
            border: 1px solid black;
            border-radius: 10px; /* Adiciona bordas arredondadas */
            padding: 20px; /* Adapte conforme necessário */
            margin: auto; /* Centraliza a div horizontalmente */
            text-align: center; /* Centraliza o conteúdo dentro da div */
        }

        /* Estilo para cada seção (Tabelas e Gráficos) */
        .statistics-section {
            margin: 20px; /* Adapte conforme necessário */
        }

        /* Estilo para os botões */
        .button {
            background-color: black;
            color: white;
            padding: 10px;
            margin: 5px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

        /* Estilo para os títulos h1 */
        h1 {
            color: black;
        }

        /* Hover style para os botões */
        .button:hover {
            background-color: gray;
        }
    </style>

    <div id="statistics-container">
        <div class="statistics-section">
            <h1>Tabelas</h1>
            <p>
                <button onclick="window.location.href='{% url 'macros_planner_kcal_tuples' pk=macros_planner.pk %}'" class="button">Tabela Calorias</button>
                <button onclick="window.location.href='{% url 'macros_tuples' pk=macros_planner.pk %}'" class="button">Tabela Macros</button>
            </p>
        </div>

        <div class="statistics-section">
            <h1>Gráficos</h1>
            <p>
                <button onclick="window.location.href='{% url 'kcal_chart:kcal_chart' pk=macros_planner.id %}'" class="button">Gráfico Calorias</button>
                <button onclick="window.location.href='{% url 'macros_chart:macros_chart' pk=macros_planner.id %}'" class="button">Gráfico Macros</button>
            </p>
        </div>
    </div>
{% endblock %}

