{% extends 'home.html' %}

{% block content %}
    <div class="container">
        <h1>Diet Details</h1>

        <!-- Mostrar informações gerais da dieta -->
        <h2>General Information</h2>
        <p><strong>Goal:</strong> {{ diet_general_info.goal }}</p>
        <p><strong>Observations:</strong> {{ diet_general_info.observations }}</p>
        <p><strong>Initial Date:</strong> {{ diet_general_info.initial_date }}</p>
        <p><strong>Final Date:</strong> {{ diet_general_info.final_date }}</p>
        <p><strong>Weeks:</strong> {{ diet_general_info.weeks }}</p>
        <p><strong>Type of Diet:</strong> {{ diet_general_info.get_type_of_diet_display }}</p>

        <p>
            <button onclick="window.location.href='{% url 'diet_general_info:diet_general_info_update' pk=diet_general_info.pk %}'" class="button">Edit</button>
            
        </p>
    </div>


    <h2>Meals:</h2>
<ul>
    {% for meal in meals %}
    <table>
        <p><strong>Meal Id:</strong> {{ meal.id }}</p>
        <button onclick="window.location.href='{% url 'meal:meal_details' pk=meal.id %}'" class="button">Meal Details</button>        
        
        <p><strong>Name:</strong> {{ meal_general_info.name }}</p>
        <p><strong>Time:</strong> {{ meal_general_info.time }}</p>
        <p><strong>Type Of Meal:</strong> {{ meal_general_info.type_of_meal }}</p>
    </table>
    <p>...</p>
    {% endfor %}
</ul>

    <button onclick="window.location.href='{% url 'meal:meal_create' diet_id=diet.id %}'" class="button">Create Meal</button><!--é diet-->
    
{% endblock %}


