{% extends 'home.html' %}

{% block content %}
  <h2>Detalhes do Macros Planner</h2>
  <h3>{{ macros_planner.name }}</h3>
  <!-- Exiba outras informações relevantes sobre o MacrosPlanner -->
 
 <!-- Exibir informações da GeneralInfo -->
<p>Meta: {{ general_info.goal }}</p>
<p>Data Inicial: {{ general_info.initial_date }}</p>
<p>Data Final: {{ general_info.final_date }}</p>
<p>Semanas: {{ general_info.weeks }}</p>
<p>
  <!-- Adicionar link para editar GeneralInfo -->
  <a href="{% url 'general_info:general_info_update' pk=general_info.pk %}">Editar GeneralInfo</a>
</p>

<h3>Lista de Macros Sheets</h3>
{% for macros_sheet in macros_sheets %}
  <p>MacrosSheet #{{ macros_sheet.id }}</p>
  <p>CHO: {{ macros_sheet.cho }}</p>
  <p>PTN: {{ macros_sheet.ptn }}</p>
  <p>FAT: {{ macros_sheet.fat }}</p>
  <p>Kcal: {{ macros_sheet.kcal }}</p>
  <p>Kcal Level: {{ macros_sheet.kcal_level }}</p>
  <p>CHO Level: {{ macros_sheet.cho_level }}</p>
  <p>PTN Level: {{ macros_sheet.ptn_level }}</p>
  <p>FAT Level: {{ macros_sheet.fat_level }}</p>
  <p>CHO Proportion: {{ macros_sheet.cho_proportion }}</p>
  <p>PTN Proportion: {{ macros_sheet.ptn_proportion }}</p>
  <p>FAT Proportion: {{ macros_sheet.fat_proportion }}</p>
  <p>
    <!-- Adicionar link para editar cada MacrosSheet -->
    <a href="{% url 'macros_sheet:macros_sheet_update' pk=macros_sheet.pk %}">Editar MacrosSheet #{{ macros_sheet.id }}</a>
    <a href="{% url 'macros_sheet:macros_sheet_delete' pk=macros_sheet.pk %}">Delete MacrosSheet #{{ macros_sheet.id }}</a>
  </p>
  <p>...</p>
  {% endfor %}
  <a href="{% url 'macros_sheet:macros_sheet_create' macros_planner_id=macros_planner.id %}">Criar MacrosSheet</a>
  
  <p>
    <a href="{% url 'macros_planner:macros_planner_update' pk=macros_planner.pk %}">Editar</a>
    <a href="{% url 'macros_planner:macros_planner_delete' pk=macros_planner.pk %}">Excluir</a>
  </p>
{% endblock %}
